:root {
    --primary-color: #0d6efd; /* Bootstrap primary blue */
    --secondary-color: #ffffff; /* White */
    --accent-color: #ffc107; /* Bootstrap warning yellow */
    --floating-bg: rgba(0, 0, 0, 0.5);

    --primary-color-rgba: rgba(13, 110, 253, 0.8);
}

a.link {
    color: var(--accent-color);
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

.floating-window#tier {
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: left; /* Center the text */
    color: var(--secondary-color);
    width: 80%; /* Increase width slightly for better readability */
    max-width: 600px; /* Allow larger content */
    padding: 20px; /* Add more padding for spacing */
    margin: 30px auto; /* Center the floating window */
    box-sizing: border-box; /* Ensure padding doesn’t affect width */
    word-wrap: break-word; /* Ensure long words break properly */
    overflow-wrap: break-word; /* Ensure text doesn't overflow */
    background: var(--primary-color-rgba);
    
}

.floating-window.trophy{
    overflow-y: auto; /* Add vertical scrolling for overflowing content */
    max-height: 80%; /* Limit the height to 80% of the carousel */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

    .floating-window#tier {
        width: 90%; /* Use more width for readability */
        font-size: 0.9rem; /* Slightly reduce font size */
        padding: 15px; /* Adjust padding */
    }

    img.medals {
        width: 35px; /* Adjust medal size */
    }
}

@media (max-width: 480px) {
    .floating-window#tier {
        width: 95%; /* Use almost full width */
        font-size: 0.8rem; /* Further reduce font size */
        padding: 10px; /* Adjust padding */
    }

    img.medals {
        width: 25px; /* Further reduce medal size */
    }
}

img.medals {
    background-color: var(--secondary-color);
    height: auto; /* Maintain the aspect ratio */
    margin-left: 10px; /* Add spacing between the text and the medal */
    vertical-align: middle; /* Align the medal with the text */
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

img.medals#bronze {
    width: 50px;
}

img.medals#silver {
    width: 57px;
    transform: translateX(10px);
}

img.medals#gold {
    width: 64px;
    transform: translateX(10px);
}

img.medals#trophy {
    width: 71px;
    transform: translateX(20px);
}