{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block stylesheetBlock %}
    <link rel="stylesheet" href={% static 'contact/css/base.css' %}>
{% endblock stylesheetBlock %}

{% block content %}

    <h1>{% trans "Do you want to create a request or maybe send a direct email?" %}</h1>

    <div class="container">
        <table>
            <tr>
                <td>
                    <form action="{% url "contactUs-ourContactInfo"%}" method="get">
                        <button type="submit" class="btn btn-warning btn-hover" id="hover">{% trans "Direct Email" %}</button>
                    </form>
                </td>
                <td>
                    <form action="{% url "contactUs-createRequest" %}" method="get">
                        <button type="submit" class="btn btn-warning btn-hover" id="hover">{% trans "Fill out a form" %}</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>  

{% endblock content %}