{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block stylesheetBlock %}
<link rel="stylesheet" href="{% static 'contact/css/base.css' %}">
{% endblock stylesheetBlock %}

{% block content %}

<h1>{% trans "Here you will find our contact info" %}:</h1>

<ul>
    <li>Email: <a href="mailto:geor.verg@gmail.com">geor.verg@gmail.com</a></li>
    <li>{% trans "Phone" %}: +30 698 777 6601</li>
    <li>{% trans "Address" %}: Dimokritou 6 & Germanikis Scholis Athinon, Marousi 151 23</li>
</ul>

{% endblock content %}