{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="hover">
    <h1>{% trans "This is index" %}</h1>
    <p>{% trans "The DSA Racing Team is a school team of the German School of Athens, which consists of high school students and takes part in the international F1-In Schools event organized under the auspices of Formula 1 and the FIA. Our team was founded on the initiative of school students and found warm support from the administration. This year is our first attempt to participate in the event and we have set as our goal the participation and distinction in the national finals. Along the way we want to develop various skills such as 3D design, knowledge in the field of aerodynamics and marketing." %}</p>
</div>

{% endblock content %}