{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "About the Competition" %}</h1>

<p>{% trans "The F1-In Schools event was created in 1999 and has since become a well-known phenomenon in the world of motorsport. Participants (up to 19 years old) are invited to create a small-scale F1 car, following basic regulations and using 3D design programs offered by the organization itself. The teams are judged on both aerodynamics and project promotion and management. The F1-In Schools competition gives students from all over the world the opportunity to showcase their talents and abilities, while at the same time equipping and preparing them appropriately for the future for a possible career in motorsport." %}</p>

{% endblock content %}