:root {
    --primary-color: #0d6efd; /* Bootstrap primary blue */
    --secondary-color: #ffffff; /* White */
    --accent-color: #ffc107; /* Bootstrap warning yellow */
    --floating-bg: rgba(0, 0, 0, 0.5);
}

a.link {
    color: var(--accent-color);
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); /* Center the item and apply scaling */
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: left;
    color: var(--secondary-color);
    width: 80%; /* Adjust width to fit content */
    max-width: 600px; /* Optional: Limit the maximum width */
}

.carousel-item.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Center the active item without scaling */
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.carousel-controls button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
}

.carousel-controls button:hover {
    background-color: var(--accent-color);
}

#floating-carousel {
    background: rgb(13,110,253);
}

img.medals {
    background-color: var(--secondary-color);
    height: auto; /* Maintain the aspect ratio */
    margin-left: 10px; /* Add spacing between the text and the medal */
    vertical-align: middle; /* Align the medal with the text */
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

img.medals#bronze{
    width: 50px; /* Adjust the width to make the medal smaller */
}

img.medals#silver{
    width: 57px; /* Adjust the width to make the medal smaller */
}

img.medals#gold{
    width: 64px; /* Adjust the width to make the medal smaller */
}

img.medals#trophy{
    width: 71px; /* Adjust the width to make the medal smaller */
}