{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block stylesheetBlock %}
    <link rel="stylesheet" href="{% static 'about/css/base.css' %}">
{% endblock stylesheetBlock %}

{% block content %}

<h1>{% trans "About our team" %}:</h1>
<p>{% trans "The DSA Racing Team is a school team of the German School of Athens, which consists of high school students and takes part in the international F1-In Schools event organized under the auspices of Formula 1 and the FIA. Our team was founded on the initiative of school students and found warm support from the administration. This year is our first attempt to participate in the event and we have set as our goal the participation and distinction in the national finals. Along the way we want to develop various skills such as 3D design, knowledge in the field of aerodynamics and marketing." %}</p>

<hr>

<p>{% trans "Our team is divided into four smaller teams with the ultimate goal of achieving our project better and more efficiently. Each sub-team deals with different areas, such as aerodynamics, finances, social media and the composition of the work." %}</p>

<p>{% trans "The aerodynamics department consists of four people (Michael Giannakis, Marina Vachatela, Theoklitos-Kriton Petrakis, Eleni Dimitriou). In this area, the specific members of the team perfect every element of the F1 model for its prominence in the showdown Games." %}</p>

<p>{% trans "The financial department consists of two main parts: In the first, the members (Konstantinos Mistriotis, Nikos Gerogiorgis, Iasonas Theodorou, Christos Arvanitis) undertake the search for sponsors and the creation of a feasible financial plan. In the second part, the same aforementioned members deal with project management. That is, they focus on the correct and smooth flow of work with the aim of achieving the deadlines." %}</p>

<p>{% trans "Then, a large member of our team consists of the social media department. The members of this subgroup (Evelina Stathi, Angeliki Anastasopoulou, Dorothea Lioganos Kyriaki, Georgios Vergos, Melita Lambrinopoulou) promote the team on digital applications, such as Instagram, and on our website. By promoting the team, the approach of new members is achieved at the same time, with the aim of continuing our team by the coming generations. An equally important aspect that contributes significantly to the success of our team is that of the composition of the work. In this area, the members (George Karagiannis, Michael Giannakis, Theodoros Kofinas) process the results from the other subgroups and synthesize them into the final works." %}</p>

<p>{% trans "Finally, for the coordination of our entire project, the team leader (Theodoros Kofinas) together with the responsible professor (Konstantinos Tsokolar-Tsikopoulos) must be available to all departments and help where needed. Clearly, no work is sent without the consent of all team members!" %}</p>

{% endblock content %}